* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #000;
}

.logo {
  font-size: 2rem;
  color: #0f0;
  font-weight: bold;
}


.botaoCabecalho a {
background-color: #0f0;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
  box-shadow: #000;
}

.botaoCabecalho a:hover {
  opacity: 0.85;
}


/* kpi */

.kpis {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px;
  gap: 20px;
}

.kpis div {
  background-color: #0f0;
  border: 2px solid #0c0;
  border-radius: 8px;
  width: 300px;
  min-height: 150px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kpis div h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}

.kpis span {
text-align: center;
font-size: 25px;
font-weight: bolder;


}
.kpis div p {
  font-size: 1rem;
  text-align: center;
}

.kpis div:hover {
  opacity: 0.85;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.kpi {
background-color: black;

}

.grafico {
  width: 70%;
  max-width: 1200px;
  margin: 30px auto;
}

.grafico canvas {
  width: 100%;
  height: auto;
}